*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 50px;
    background-color: white;
}
.lgo {
    display: flex;
    gap: 10px;
}
.nav-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    text-decoration: double;

}

.btn{
      background-color: #2f855a;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 7px;

}
.first-doctors{
 background-image: url("D:/Web Programming/Assingment- 01/B13-A01-Knowledge-Vault/Sections/Banner.png"); 
  height: 90vh;
  background-color: aqua;
  background-size: cover;
  color:white;
  display: flex;
  align-items: center;
  padding: 0 60px;
  text-align: center;

}
.first-structured{
    max-width: 600px
}
.early {

    background-color: white;
    color: green;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
}
.first-doctors h1{
    font-size: 48px;
    margin:20px 0;
}
.first-doctors h1 span {
    color: #68d391;
}
.first-doctors p{
    margin-bottom: 20px;

}
.first-buttons {
    display: flex;
    gap: 15px;
}
.secand{
    text-align: center;
    padding: 80px 60px;
}
.secand-pro{
    color:gray;
   margin: 10px 0 40px;

}

.problems {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  margin-top: 40px;
}

.card {

  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.card h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  color: #555;
}






.solution {
    text-align: center;
    padding: 80px 60px;
    background: #fff;
}
.solution .tag {
    color: green;
    font-size: 12px;
}
.solution h2{
    margin: 15px 0;
}
.solution ul{
    margin-top: 20px;
}
.solution li{
    margin-bottom: 10px;
}
.cta {
    background:#f7f6f2;
     padding: 80px 60px;
     text-align: center;
}
.cta p {
    margin: 15px 0;
}
.footer{
    background: #0b1c2d;
    color: white;
    text-align: center;
    padding: 20px;

}